*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


#root {
overflow-x:hidden;

  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  
}


.subtitle{
text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

img{
border-radius: 10px;

}

.name{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;

}